<div class="panel panel-default">
		<div class="panel-heading">
				{{workplace-employee-title}}
		</div>
		<div class="panel-body">
				<div class="col-md-4">
						<div class="panel panel-default">
								<div class="panel-heading">
										Employee 1
								</div>
								<div class="panel-body">
								</div>
						</div>
				</div>
				<div class="col-md-4">
						<div class="panel panel-default">
								<div class="panel-heading">
										Employee 1
								</div>
								<div class="panel-body">
								</div>
						</div>
				</div>
				<div class="col-md-4">
						<div class="panel panel-default">
								<div class="panel-heading">
										Employee 1
								</div>
								<div class="panel-body">
								</div>
						</div>
				</div>
		</div>
</div>