<div class="chat-panel panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-comments fa-fw"></i>
        {{companyName}}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <ul class="chat">
            {{#each urlList as |urlEntry|}}
                {{news-article name=urlEntry.title url=urlEntry.link}}
            {{/each}}
        </ul>
    </div>
    <!-- /.panel-footer -->
</div>