<li class="left clearfix">
    <div class="clearfix">
        <div class="header">
            <strong class="primary-font">{{name}} News</strong>
            <small class="pull-right text-muted">
                <i class="fa fa-clock-o fa-fw"></i> 12 mins ago
            </small>
        </div>
        <p>
           <a href="{{url}}">{{url}}</a>
        </p>
    </div>
</li>