{{custom-navbar}}


<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-8 col-md-offset-2">
            <div style="margin-top:20px"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create a New Startup
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Startup Name</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dropdown">
                                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Startup Features
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                       <li>Marketplaces</li>
<li>Test Prep</li>
<li>500 Startups Batch 14</li>
<li>Crowdsourcing</li>
<li>Food and Beverages</li>
<li>B2B</li>
<li>Mentorship</li>
<li>HAXLR8R S2</li>
<li>Crowdfunding</li>
<li>Corporate Training</li>
<li>Scottsdale</li>
<li>Atlanta</li>
<li>Cloud Data Services</li>
<li>Training</li>
<li>Knowledge Management</li>
<li>Incubator</li>
<li>Social Media Marketing</li>
<li>Pre Seed</li>
<li>Online Travel</li>
<li>Online Friendship</li>
<li>Edmonton</li>
<li>Reviews and Recommendations</li>
<li>Techcrunch Battlefield 2014</li>
<li>Platforms</li>
<li>Peer-to-Peer</li>
<li>Santa Monica</li>
<li>Language Learning</li>
<li>Video Streaming</li>
<li>Denver</li>
<li>College Admissions</li>
<li>500 Startups Batch 4</li>
<li>High Schools</li>
<li>500 Startups Batch 8</li>
<li>San Mateo</li>
<li>Collaboration</li>
<li>LAUNCH 2016 Demo Pit</li>
<li>Property Management</li>
<li>Y Combinator Summer 2013</li>
<li>Video</li>
<li>Overland Park</li>
<li>Brain Health</li>
<li>Health Care</li>
<li>Sunnyvale</li>
<li>Distribution</li>
<li>Cloud Computing</li>
<li>Las Vegas</li>
<li>Technology</li>
<li>Quantified Self</li>
<li>E Learn</li>
<li>Gamification</li>
<li>Consumer Electronics</li>
<li>Finance Technology</li>
<li>Indianapolis</li>
<li>Mountain View</li>
<li>Incubators</li>
<li>Aerospace</li>
<li>Neuroscience</li>
<li>EBooks</li>
<li>Photo Sharing</li>
<li>Real Time</li>
<li>Governments</li>
<li>Cooking</li>
<li>Data Security</li>
<li>University Students</li>
<li>Behavioral Therapy, Aba Therapy, Autism, Psychology</li>
<li>Retail</li>
<li>Women-Focused</li>
<li>Open Source</li>
<li>Birmingham</li>
<li>Boston</li>
<li>Halifax</li>
<li>Tallinn</li>
<li>Herndon</li>
<li>500 Startups Spring 2013</li>
<li>Personal Finance</li>
<li>Hanover</li>
<li>Productivity Software</li>
<li>Social News</li>
<li>Vertical Search</li>
<li>Bridging Online and Offline</li>
<li>Machine Learning</li>
<li>Tablets</li>
<li>Politics</li>
<li>Universities</li>
<li>Email Newsletters</li>
<li>Polling</li>
<li>500 Startups 2012</li>
<li>Professional Networking</li>
<li>Sao Paulo</li>
<li>Entertainment Industry</li>
<li>Health Care Information Technology</li>
<li>Subscription Businesses</li>
<li>Digital Media</li>
<li>Dubai</li>
<li>Higher Education</li>
<li>Miami</li>
<li>Academic </li>
<li>Musical Instruments</li>
<li>iPhone</li>
<li>Social</li>
<li>Techstars Berlin S15</li>
<li>Freemium</li>
<li>Newton</li>
<li>India</li>
<li>Contests</li>
<li>Customer Support Tools</li>
<li>Sports</li>
<li>Natural Language Processing</li>
<li>Location Based Services</li>
<li>LAUNCH Festival 2012</li>
<li>500 Startups Batch 11</li>
<li>500 Startups Batch 10</li>
<li>500 Startups Batch 13</li>
<li>500 Startups Batch 12</li>
<li>Charter Schools</li>
<li>Reading Apps</li>
<li>Salt Lake City</li>
<li>Content Creators</li>
<li>Iowa City</li>
<li>Consumer </li>
<li>Creative Industries</li>
<li>Redwood City</li>
<li>Cambridge</li>
<li>Big Data</li>
<li>Madrid</li>
<li>Rio De Janeiro</li>
<li>Music Education</li>
<li>Real Estate</li>
<li>Professional Services</li>
<li>Self Development</li>
<li>E-Books</li>
<li>Brazil</li>
<li>Performing Arts</li>
<li>Creative</li>
<li>San Carlos</li>
<li>Transportation</li>
<li>SaaS</li>
<li>Enterprises</li>
<li>Seattle</li>
<li>Cyber Security</li>
<li>Nonprofits</li>
<li>Wealth Management</li>
<li>Micro-Enterprises</li>
<li>Waste Management</li>
<li>Law Enforcement</li>
<li>Nairobi</li>
<li>PaaS</li>
<li>Colleges</li>
<li>Accelerator</li>
<li>Developer APIs</li>
<li>Analytics</li>
<li>New York</li>
<li>Toys</li>
<li>Mobile Software Tools</li>
<li>Predictive Analytics</li>
<li>Chicago</li>
<li>Y Combinator Winter 2014</li>
<li>Sharing Economy</li>
<li>Recruiting</li>
<li>Search</li>
<li>Saint Petersburg</li>
<li>Writers</li>
<li>Southern California</li>
<li>Organic Food</li>
<li>Internet of Things</li>
<li>Parenting</li>
<li>Games</li>
<li>Advertising</li>
<li>Messaging</li>
<li>Web Browsers</li>
<li>Amsterdam</li>
<li>Small and Medium Businesses</li>
<li>Human Resources</li>
<li>Religion</li>
<li>Babies</li>
<li>All Students</li>
<li>Austin</li>
<li>Game</li>
<li>Ann Arbor</li>
<li>Washington, DC</li>
<li>Arlington</li>
<li>Services</li>
<li>Translation</li>
<li>Ventures for Good</li>
<li>Information Services</li>
<li>Dublin</li>
<li>Consulting</li>
<li>Price Comparison</li>
<li>Product Design</li>
<li>Mobile Advertising</li>
<li>K-12 Education</li>
<li>High School Students</li>
<li>Minneapolis</li>
<li>E-Commerce</li>
<li>Durham</li>
<li>Manchester</li>
<li>Education</li>
<li>Guides</li>
<li>iPad</li>
<li>Venture Capital</li>
<li>Networking</li>
<li>Edtech</li>
<li>Apps</li>
<li>Sydney</li>
<li>Android</li>
<li>Angel Group</li>
<li>Social Media</li>
<li>New York City</li>
<li>Berlin</li>
<li>Los Angeles</li>
<li>Marina Del Rey</li>
<li>Bangalore</li>
<li>San Antonio</li>
<li>Social Media Platforms</li>
<li>Programming</li>
<li>Social Games</li>
<li>Online Reservations</li>
<li>Mobile Games</li>
<li>Design</li>
<li>Curated Web</li>
<li>Employment</li>
<li>Santa Clara</li>
<li>Video Chat</li>
<li>Travel</li>
<li>Office Space</li>
<li>Big Data Analytics</li>
<li>Pharmaceuticals</li>
<li>Music</li>
<li>Rapidly Expanding</li>
<li>Events</li>
<li>Medical Devices</li>
<li>Human Computer Interaction</li>
<li>Health and Wellness</li>
<li>Brooklyn</li>
<li>Communities</li>
<li>Edutainment</li>
<li>Toronto</li>
<li>Textbooks</li>
<li>Philadelphia</li>
<li>Hardware + Software</li>
<li>Information Technology</li>
<li>Software</li>
<li>Logistics</li>
<li>High Tech</li>
<li>College Campuses</li>
<li>Enterprise Software</li>
<li>Certification Test</li>
<li>Online Education </li>
<li>Los Gatos</li>
<li>Shanghai</li>
<li>Digital Signage</li>
<li>Content</li>
<li>Deep Information Technology</li>
<li>Kids</li>
<li>DIY</li>
<li>Chandler</li>
<li>Sales and Marketing</li>
<li>Mobile</li>
<li>Development Platforms</li>
<li>Loans</li>
<li>Seed Fund</li>
<li>Business Process Management</li>
<li>Application Platforms</li>
<li>Kansas City</li>
<li>Barcelona</li>
<li>Teachers</li>
<li>Biotechnology</li>
<li>Reston</li>
<li>Houston</li>
<li>Developer Tools</li>
<li>United Kingdom</li>
<li>Portland</li>
<li>Surveys</li>
<li>Career Management</li>
<li>Bitcoin</li>
<li>Internet</li>
<li>San Francisco</li>
<li>Mobile Social</li>
<li>Emerging Markets</li>
<li>Bellevue</li>
<li>Victoria</li>
<li>Berkeley</li>
<li>News</li>
<li>Teaching STEM Concepts</li>
<li>Menlo Park</li>
<li>iOS</li>
<li>Rental Housing</li>
<li>Silicon Valley</li>
<li>AngelPad 7</li>
<li>AngelPad 8</li>
<li>Fashion</li>
<li>Art</li>
<li>Robotics</li>
<li>Teenagers</li>
<li>VC Firm</li>
<li>Pasadena</li>
<li>London</li>
<li>Social Fundraising</li>
<li>AngelPad Spring 2012</li>
<li>Skill Assessment</li>
<li>Entertainment</li>
<li>Private Social Networking</li>
<li>Mobile Application</li>
<li>Hr Tech</li>
<li>Cologne</li>
<li>Pittsburgh</li>
<li>Collaborative Consumption</li>
<li>Social Media Monitoring</li>
<li>San Jose</li>
<li>Columbus</li>
<li>Game Mechanics</li>
<li>Technical Continuing Education</li>
<li>New Delhi</li>
<li>Personal Health</li>
<li>Social Commerce</li>
<li>Palo Alto</li>
<li>Calgary</li>
<li>Boulder</li>
<li>Finance</li>
<li>Test and Measurement</li>
<li>Digital Publishing</li>
<li>Mobile Enterprise</li>
<li>Social Recruiting</li>
<li>Detroit</li>
<li>Tel Aviv-yafo</li>
<li>Government Innovation</li>
<li>Tutoring</li>
<li>Embedded Hardware and Software</li>
<li>Startups</li>
<li>Insurance</li>
<li>Career Planning</li>
<li>Publishing</li>
<li>Vancouver</li>
<li>Electronics</li>
<li>Families</li>
<li>College Recruiting</li>
<li>Education Technology</li>
<li>Educational Games</li>
<li>Content Delivery</li>
<li>E-Commerce Platforms</li>
<li>Omaha</li>
<li>Stanford</li>
<li>500 Startups Fall 2013</li>
<li>500 Startups Fall 2012</li>
<li>Payments</li>
<li>Disruptive Models</li>
<li>Earth</li>
<li>Audio</li>
<li>Baltimore</li>
<li>New Haven</li>
<li>Wearables</li>
<li>Hardware</li>
<li>US Hispanic Market</li>
<li>Financial Services</li>
<li>Oakland</li>
<li>Consumer Internet</li>
<li>Stockholm</li>
                                      </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                <div style="height:200px" class="well well-lg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{#link-to 'news'}}<button style="width:100%; background-color:#C92228; border:0" class="btn btn-primary">
                                        Submit
                                    </button>
                                    {{/link-to}}
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>