{{custom-navbar}}


<div id="page-wrapper">
    <div class="row">

        <div class="col-lg-8 col-md-offset-2">
            <div style="margin-top:20px"></div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create a New Startup
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <label>Startup Name</label>
                            <input class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="dropdown">
                                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        Startup Features
                                        <span class="caret"></span>
                                      </button>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                      </ul>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                <div style="height:200px" class="well well-lg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button style="width:100%; background-color:#C92228; border:0" class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
    </div>
</div>