{{custom-navbar}}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
        		<div style="margin-top:20px"></div>
        		{{employee-panel workplace-employee-title="Facebook Employees"}}
        		{{employee-panel workplace-employee-title="Google Employees"}}
        		{{employee-panel workplace-employee-title="Uber Employees"}}
				</div>
	  </div>
</div>